body {
    background-color: #ddddff;
}
.logo {
    width: 80px;
}

.side-img {
    width: 300px;
}

.dim-bg {
    background: rgba(0, 0, 0, 0.6);
}

.lg-height {
    height: 90vh;
}

.bg-1 {
    background-image: url("images/backgrounds/bg\ \(7\).jpeg");
    background-attachment: fixed;
    background-size: cover;
}

.des-bg-dark {
    background-color: #111144;
}

.des-bg-light {
    background-color: #ddddff;
}

.des-text-dark {
    color: #111144;
}

.des-text-light {
    color: #ddddff;
}

.des-dark {
    background-color: #111144;
    color: #ddddff;
}

.des-light {
    background-color: #ddddff;
    color: #111144;
}

.des-primary {
    background-color: #111144;
    color: orangered;
}

.contact-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
}

.contact-group img {
    width: 60px;
}

.contact-group p {
    font-size: 0.8em;
    text-align: center;
    color: #ddddff;
}

p {
    font-size: 1em;
}

h3 {
    font-size: 1.2em;
}